@model List<IndexBlogViewModel>

@{
    ViewBag.Title = "Index";
}


<!-- Main Content -->
<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <ul class="list-unstyled list-inline list-btn">
            <li>
                <a class="btn btn-dark" href="@Url.Action("Create", "Blog")">
                    Add new post <i class="fas fa-plus"></i>
                </a>
            </li>
        </ul>
    }
    <!--Show all posts-->
    @if (!Model.Any())
    {
        <div style="margin-top:15px;">
            <p><strong>We do not have posts yet</strong></p>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @foreach (var record in Model)
                    {
                        <div class="post-preview">
                            <a href="@Url.Action("PostDetails", "Blog", new { id = record.Id })">
                                <h2 class="post-title">
                                    @record.Title
                                </h2>
                                <h3 class="post-subtitle">
                                    @record.SubTitle
                                </h3>
                            </a>
                            @if (record.DateCreated != record.DateUpdated)
                            {
                                <p class="post-meta">
                                    Updated by @record.UserName.Split('@')[0]
                                    on @record.DateUpdated.ToString("MMMM dd, yyyy HH:mm")
                                </p>
                            }
                            else
                            {
                                <p class="post-meta">
                                    Posted by @record.UserName.Split('@')[0]
                                    on @record.DateCreated.ToString("MMMM dd, yyyy HH:mm")
                                </p>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="btn-group" role="group">
                                    <a href="@Url.Action("Update", "Blog", new { id = record.Id })" class="btn btn-light action">Update</a>
                                    <a href="@Url.Action("Delete", "Blog", new { id = record.Id })" class="btn btn-light action">Delete</a>
                                </div>
                            }
                        </div>
                        <hr>
                    }
                </div>
            </div>
        </div>
    }
</div>
