@model PostDetailsViewModel

@{
    ViewBag.Title = "PostDetails";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/CreateUpdatePost.js"></script>
}
<!--Show post-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">
                    @Model.Title
                </h2>
                <h3 class="post-subtitle">
                    @Model.SubTitle
                </h3>
                @if (Model.DateCreated != Model.DateUpdated)
                {
                    <p class="post-meta">
                        Updated by @Model.UserName.Split('@')[0]
                        on @Model.DateUpdated.ToString("dd/MM/yyyy HH:mm")
                    </p>
                }
                else
                {
                    <p class="post-meta">
                        Posted by @Model.UserName.Split('@')[0]
                        on @Model.DateCreated.ToString("dd/MM/yyyy HH:mm")
                    </p>
                }
                <p>
                    @Html.Raw(Model.Body)
                </p>
                @if (@Model.MediaUrl != null)
                {
                    <img class="img-thumbnail" src="@Url.Content(Model.MediaUrl)" />
                }
            </div>
            <hr>
            <!-- comments-->
            @if (Model.Comments.Count() != 0)
            {
                <div class="comments">
                    <h5>Comments: @Model.Comments.Count()</h5>
                </div>
                foreach (var comment in Model.Comments)
                {
                    <div class="row comment">
                        <div class="col-sm-9 col-md-10">
                            <h6>@comment.User.UserName</h6>
                            <p class="posted"><i class="fas fa-clock-o">@comment.DateCreated</i> </p>
                            <p class="text-gray">@comment.Body</p>
                        </div>
                    </div>
                    if (User.IsInRole("Admin") | User.IsInRole("Moderator"))
                    {
                    <a class="btn btn-light" href="@Url.Action("UpdateComment", "Blog", new { id = comment.Id, postId = Model.Id })">
                        Edit comment <i class="fas fa-comment-alt"></i></a>
                    <a class="btn btn-light" href="@Url.Action("DeleteComment", "Blog", new { id = comment.Id, postId = Model.Id })">
                        Delete comment <i class="fas fa-comment-alt"></i>
                    </a>
                    }
                }
            }

            <a class="btn btn-dark" href="@Url.Action("CreateComment", "Blog", new { id = Model.Id })">
                Add new comment <i class="fas fa-comment-alt"></i>
            </a>

            <a href="@Url.Action("Index", "Blog")" class="btn btn-light">Back to List</a>
        </div>
    </div>
</div>

